{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="ui container">
    <form class="ui form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label>Título</label>
            {{ post_form.title }}
        </div>
        <div class="field">
            <label>Contenido</label>
            {{ post_form.content }}
        </div>
        <div class="field">
            <label>Estado</label>
            <select name="status" class="ui dropdown">
                <option value="">Selecciona un estado</option>
                <option value="draft" {% if post_form.status.value == "draft" %}selected{% endif %}>DRAFT</option>
                <option value="published" {% if post_form.status.value == "published" %}selected{% endif %}>PUBLISHED</option>
                <option value="removed" {% if post_form.status.value == "removed" %}selected{% endif %}>REMOVED</option>
            </select>
        </div>
        <div class="field">
            <label>Imagen</label>
            {{ post_form.image }}
        </div>
        <div class="field">
            <label for="categories">Categorías</label>
            <select class="ui fluid search dropdown" multiple="" name="categories" id="categories">
                <option value="">Seleccione Categoría(s)</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>            
        </div>
        <button type="submit" class="ui button primary">Enviar</button>
    </form>
</div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}